@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);

body {
  font-family: 'Roboto';
  background-color: #f3f3f3;
}

#section-main {
  max-width: 900px;
  padding: 0 25px;
  margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}

h1 {
  font-family: 'Ubuntu';
  font-weight: 700;
}

h2 {
  color: #999;
  font-weight: 100;
  text-align:center;
}

#header {
  overflow: hidden;
}

#header br {
  display: none;
}

#header h1, #header img {
  float: left;
  padding-right: 2px;
}

.logo {
  padding-top: 8px;
  height: 64px;
}

.pages li {
  list-style: none;
  float: right;
  padding-right: 2%;
}

a {
  transition: ease 0.2s;
  border-bottom: 3px solid black;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  
  color: inherit;
  text-decoration: none;
}

a:hover, .pages .this-page {
  border-bottom: 5px solid black;
}

#content {
  overflow: hidden;
}

.img-hero {
  width: 52%;
  display: block;
  float: left;
}

.info-div {
  width: 48%;
  display: block;
  float: right;
}

#get {
  text-align: center;
}

.small-link {
  color: grey;
  font-size: 11px;
}

a.no-fancy {
  border-bottom: 0 solid black;
  text-decoration: underline;
}

hr {
  border-top: 1px solid #999;
  margin: 7px;
}

.grey {
  font-family:'Roboto';
  font-weight:100;
  text-align:center;
  color:#999;
}